@font-face {
    font-family: Montserrat;
    src: url(fonts/Montserrat.ttf);
}


.contract_table_search {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: end;
    align-items: center;
}

.contract_table_search div {
    width: 300px;
    display: flex;
    align-items: center;
    border: 1px solid #11101D;
    justify-content: end;
    border-width: 0 0 1px 0;
    
}
.contract_table_search div div {
    width: 50px;
    height: 40px;
    display: inline-block;
    background: #11101D;
    align-items: center;
    
}

.contract_table_search_input {
    border: 0;
    outline: none;
    width: 95%;
    padding-left: 20px;
    font-family: Montserrat !important ;
}

.contract_table_search_image {
    width: 20px;
    height: 20px; 
    margin: 8px 0 0 12px;
}





.contact_table_thead {
    background: black;
   
    border: 1px solid #11101D !important;
}

.contact_table_thead_tr {
    font-family: Montserrat !important;
}

.contact_table_thead_tr th {
    color: white;
    padding:4px 10px;
    font-family: Montserrat !important;

}

.th_row {
    background: #F2F3F4;
}

.contact_table_tbody_tr {
    height: 30px;
    margin: 3px 0;
}

.contact_table_tbody_tr_th{
    font-family: Montserrat !important;
    overflow: hidden;
    font-size: 12px;
}

.contact_table_textalign {
    text-align: center;
}

.contact_table_textalign img {
    cursor: pointer;
}






.contact_table_pagenition {
    display: flex;
    justify-content: end;
    margin-top: 30px;
}

.contact_table_pagenition_ul {
   display: flex;

}

.page-item {
    list-style: none;
    margin-left: 10px;
}

.page-item a {
    padding: 8px 15px;
    border: 1px solid aliceblue;
    cursor: pointer;
}
.page-item a:hover  {
    background: aliceblue;
}

.active {
    background: aliceblue;
}

.close {
    position: absolute;
    transform: translate(870px, -70px);
}

.close button {
    background: #fff;
    border: 0;
    cursor: pointer;
}