
.form22 {
    min-height: 200px !important;
}


.add_product {
    max-width: 900px;
    left: auto;
    right: auto;
    margin-top: 20px;
}

.table_container {
    max-width: 900px;
    height: 300px;
    overflow-y: scroll;

    border: 1px solid grey;
    
}

.table_tr_title {
    width: 900px;
    border: 1px solid #aaa;
    color: #aaa;
    font-weight: 700;
}

.table_th_id {
    width: 50px;
}

.table_th_name {
    width: 330px;
}

.table_th_soni {
    width: 100px;
}

.table_tr {
    border-width: 1px 0 1px 0;
    width: 880px;
    margin-top: 5px;
    border-color: #11101D;
    border-style: solid;
}

.table_td {
    text-align: center;
    font-weight: 300;
    font-size: 12px;
}



.table_add_product_buttons {
    left: auto;
    right: auto;
    display: flex;
    margin-top: 20px;
    justify-content: right;
}

.table_add_product_buttons p img {
    width: 16px;
    height: 16px;
    margin-right: 10px;
}

#table_add_product_button_finish {
    color: red;
    border: 1px solid red;
    width: 150px;
    padding: 8px 10px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

#table_add_product_button_add {
    color: #264ECA !important;
    border: 1px solid #264ECA;
    width: 150px;
    margin-left: 20px;
    padding: 8px 10px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color:white;
}